{% extends 'portfolio/base.html' %}

{% block content %}
<div class="grid-container">
  <div class="post-content">
    <h1>Blog</h1>
    <div>
        {% for post in posts %}
        <div>
            <h2><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h2>
            <p>Posted on {{ post.created_on }}</p>
        </div>
        {% endfor %}
    </div>
  </div>


  <div class="tags-box">
    <h2>Tags</h2>
    <ul>
      {% for tag in tags_with_counts %}
      <li>
        <a href="{% url 'blog_by_tag' tag.name %}">{{ tag.name }} ({{ tag.count }})</a>
      </li>
      {% endfor %}
    </ul>
  </div>


</div>
{% endblock %}


