{% extends 'portfolio/base.html' %}

{% block content %}
<h1>Contact Me</h1>
<br>
<p>If you have any questions or would like to work on something together, feel free to contact me through the following channels:</p>
<br>
<p>
  <ul>
      <li><a href="mailto:johndevio@protonmail.com" class="project-link">&nbsp;E-mail</a></li>
      <li><a href="https://www.linkedin.com/in/jrmolin90/" target="_blank" class="project-link">&nbsp;LinkedIn</a></li>
      <li><a href="https://github.com/jrmol" target="_blank" class="project-link">&nbsp;GitHub</a></li>
      <!-- Add other social networks or contact methods as needed -->
  </ul>
</p>
{% endblock %}

