{% extends 'portfolio/base.html' %}

{% block content %}
<h1>Contact Info</h1>

<p>If you have any questions or just want to get in touch, feel free to contact me through the following channels:</p>

<ul>
    <li>Email: <a href="mailto:your.email@example.com">your.email@example.com</a></li>
    <li>LinkedIn: <a href="your-linkedin-profile-url" target="_blank">Your LinkedIn Profile</a></li>
    <li>GitHub: <a href="your-github-profile-url" target="_blank">Your GitHub Profile</a></li>
    <!-- Add other social networks or contact methods as needed -->
</ul>

{% endblock %}

